@model app.timesheet.com.CustomerProductMappingViewModel
@{
    ViewBag.Title = "Customer Product Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex" id="divList">
                @{
                    Html.RenderPartial("_List", Model.CustomerProductMappingList);
                }
            </div>
        </div>
    </div>


</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            
            $(document).on("click", ".global-modal-close", function () {
                const view = "@Url.Content("~/CustomerProductMapping/List")";
                $("#divList").load(view)
            })
        });
    </script>
}
