@model IEnumerable<db.timesheet.com.Activity>

<div class="card flex-fill">
    <div class="card-header border-bottom">
        @*<div class="card-actions float-right  ">
            <button class="btn btn-outline-primary shadow-sm" id="btnAddEntity">
                <i class="fa fa-plus cursor-pointer" title="Add Activity"></i>
            </button>
        </div>*@
        <h5 class="card-title mb-0">Details</h5>
    </div>
    <div id="dicTimeSheetDetails" class="card-body">
        <div class="row">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
    })
</script>