@model app.timesheet.com.TimeSheetViewModel
    @{
        /**/

        ViewBag.Title = "Time Sheet";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-6 d-flex" id="divAddTimesheet">
                    @{
                        Html.RenderPartial("_Add", Model);
                    }
                </div>
                <div class="col-md-12 col-lg-6 d-flex" id="divList">
                    @{
                        Html.RenderPartial("_List", Model.TimeSheetList);
                    }
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            $(document).ready(function () {
                
            });
        </script>
    }
